@page
@model Index

<div class="d-flex justify-content-between">
    <h2>Students</h2>
    <a asp-page="/students/create" class="btn btn-primary mb-3">+Add</a>
</div>

<table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">BirthDate</th>
        </tr>
        </thead>
        
        <tbody>

        @{
            var cnt = 1;
        }
        @foreach (var student in Model.Students)
        {
        <tr>
            <th scope="row">@(cnt++)</th>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.BirthDate</td>
        </tr>
        
        }
            </tbody>
            
    </table>